Customer Orders :
<div class="container">
    <div class="row">
        <div class="col">
            ID
        </div>
        <div class="col">
            {{customerDetails.customer.id}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Company Name
        </div>
        <div class="col">
            {{customerDetails.customer.companyName}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Contact Name
        </div>
        <div class="col">
            {{customerDetails.customer.contactName}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Contact Title
        </div>
        <div class="col">
            {{customerDetails.customer.contactTitle}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Address
        </div>
        <div class="col">
            {{customerDetails.customer.address}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            City
        </div>
        <div class="col">
            {{customerDetails.customer.city}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Postal Code
        </div>
        <div class="col">
            {{customerDetails.customer.postalCode}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Country
        </div>
        <div class="col">
            {{customerDetails.customer.country}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Phone
        </div>
        <div class="col">
            {{customerDetails.customer.phone}}
        </div>
    </div>
    <div class="row">
        <div class="col">
            Fax
        </div>
        <div class="col">
            {{customerDetails.customer.fax}}
        </div>
    </div>